properties ([
	parameters ([
		string(name: 'NAMESPACE', defaultValue: 'myapp-test', description: '', trim: true),
    string(name: 'BRANCH_NAME', defaultValue: 'main', description: '', trim: true),
		
	])
])

pipeline {

    agent {
        kubernetes {
            defaultContainer 'jnlp'
            yaml """
apiVersion: v1
kind: Namespace
metadata:
  namespace: test-ns
  labels:
    owner: kanav
                  }
          }
         }
    
        
